.section-benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 60px 0px;
    background-color: var(--color-primary-black);
}

.section-benefits h2 {
    font-family: var(--ff-primary);
    color: var(--color-secondary-white);
    font-size: var(--fs-headline-h1);
    font-weight: var(--fw-bold);
}

.cards-section-benefits {
    display: flex;
    gap: 60px;
}