.section-cta {
    background-color: var(--color-primary-black);
    box-shadow: inset 0PX -45px 70px -25px #00B8FC20;
    padding: 80px;
}

.cta-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.cta-text h2 {
    font-family: var(--ff-primary);
    color: var(--color-secondary-white);
    font-size: var(--fs-headline-h1);
    font-weight: var(--fw-bold);
}


.cta-text span {
    color: var(--color-primary-cyan);
}

.cta-text P {
    font-family: var(--ff-primary);
    font-size: var(--fs-paragraph);
    color: var(--color-secondary-white);
}