footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0 50px;
    background-color: var(--color-primary-black);
}

footer h3 {
    font-family: var(--ff-primary);
    color: var(--color-secondary-white);
    font-size: var(--fs-paragraph); 
}

footer p {
    font-family: var(--ff-primary);
    color: var(--color-secondary-white);
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer a {
    font-family: var(--ff-primary);
    color: var(--color-secondary-white);
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 135px;
}

.footer-top {
    display: flex;
    align-items: center;
    gap: 400px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-indice {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.links-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contato-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.suporte-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}